.botao{
    background-color: rgb(0, 117, 163);
    border-radius: 10%;
    padding: 20px;
    border-color: rgb(255, 255, 255);
    transition-property:left;
    transition-duration: 3s, 5s, 2s, 1s;
   

}